/* Esconde a barra de rolagem mas mantém a funcionalidade */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hide-scrollbar::-webkit-scrollbar {
  display: none;  /* Chrome, Safari and Opera */
}

/* Estilos para o dropdown do CFOP */
select[name="cfop"] {
  max-width: 100%;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

select[name="cfop"] option {
  max-width: 100%;
  white-space: normal;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

/* Estilo para o dropdown aberto */
select[name="cfop"]:focus {
  max-height: 300px;
  overflow-y: auto;
}
